:root {
  --primaryColor: #332f4f;
  --dark-bg-color: #332f4f;
  --light-bg-color: #f9f9fe;

  --lightBlue: #06cbf8;
  --greyish: #bacfe7;
  --redish: #fa4441;
  --orange: #fa993a;
  --green: #89ea3c;
  --torquise: #3fbbd7;
  --purpleish: #c174dc;

}
body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
  height: 100vh;
  background-color: var(--light-bg-color);
}

.dark {
  background-color: var(--dark-bg-color);
}

#tickerList {
  margin-left: 10px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  overflow-y: auto;
  height: 100%;
}

#tickerList a {
  display: block;

  color: #332f4f;
  text-decoration: none;
  padding-bottom: 2px;
  font-size: 18px;
}

.dark #tickerList a {
  color: var(--greyish);
}

.dark h1 {
  color: var(--greyish)
}

#contentGrid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 220px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  column-gap: 20px;
  row-gap: 20px;
}

.hamburger {
  width: 30px;
  position: relative;
  left: 20px;
  display: none;
  z-index: 999;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  #contentGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

#tickerList a.selected {
  font-weight: 700;
}

.viz-wrapper {
  height: 100%;
  min-height: 400px;
}

svg {
  display: block;
}

.selectionCircle {
  fill: var(--primaryColor);
  stroke: white;
  stroke-width: 2px;
}

.dark .selectionCircle {
  /* stroke: var(--dark-bg-color) */
}

.mainChartLine {
  stroke-width: 2px;
  stroke: var(--primaryColor);
  fill: none;
}

.dark .mainChartLine {
  stroke: white;
}

.backdropLine {
  stroke-width: 6px;
  stroke: white;
  fill: none;
}

.dark .tick text {
  fill: var(--greyish)
}

.dark .tick line {
  stroke: var(--greyish)
}

.dark .backdropLine {
  stroke: var(--dark-bg-color)
}

.dark .title-text {
  fill: var(--greyish);
  opacity: 1;
}

.dark .hoverText {
  fill: var(--greyish)
}

text {
  font-family: Poppins;
  font-size: 14px;
}

input {
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid var(--primaryColor);
  font-size: 16px;
  font-family: Poppins;
}

input:focus {
  outline: none;
}

.dark input {
  background-color: var(--dark-bg-color);
  border-color: var(--greyish);
}

.dark input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--greyish);
  opacity: 1; /* Firefox */
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
    margin-top: 10px;
  }
  .hideHamburger {
    display: none;
  }
  #tickerList {
    width: 0px;
    transition: 0.3s;
    margin: 0;
    background: #fff;
    z-index: 999;
  }
  #contentGrid {
    left: 0px;
  }
  .showList {
    width: 200px !important;
    transition: 0.3s !important;
    padding-left: 10px;
  }
}
